/*.dot*
/*.jso*
/*.mat*
/*.mp4*
/*.out*
/*.pdf*
/*.png*
/*.xyz*

docs/**/*.lo*
docs/**/*.pd*
docs/**/*.py*

education/**/*.mat*

research/**/*.gif*
research/**/*.mat*
research/**/*.mp4*
research/**/*.png*
research/**/*.zip*

research/*.sh*

*zig*/
*sit*/
*tex*/
