# root links
/compile_commands.json

# files
trajectory.xyz
molecule.xyz
orca.inp
.replit

# exts
*.clean
*.lock
*.dat
*.gif
*.mat
*.nix
*.old
*.out
*.png

# folders
.ccls-cache/
.cache/
_site/
build/
temp/
bin/

# interface folders
.bagel.[0-9]*
.orca.[0-9]*
