name: Release

on:
  push:
    tags:
      - 'v**'

permissions:
  contents: write

env:
  BUILD_TYPE: Release

jobs:
  build_linux_x86-64:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install Packages
        run: sudo apt install -y libboost-dev libeigen3-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev

      - name: Build Libfftw
        run: ./script/libfftw.sh

      - name: Build Libint
        run: ./script/libint.sh

      - name: Configure Acorn
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++

      - name: Build Acorn
        run: |
          export CPLUS_INCLUDE_PATH="$PWD/libfftw/install/include:$PWD/libint/install/include:$CPLUS_INCLUDE_PATH"
          export LIBRARY_PATH="$PWD/libfftw/install/lib:$PWD/libint/install/lib:$LIBRARY_PATH"
          cmake --build build --parallel 2

      - name: Copy Libint
        run: cp $PWD/libint/install/lib/libint2.a bin/libint_linux_x86-64.a

      - name: Rename Binaries
        run: |
          mv bin/acorn_aqdyn bin/acorn_aqdyn_linux_x86-64
          mv bin/acorn_expression bin/acorn_expression_linux_x86-64
          mv bin/acorn_hf bin/acorn_hf_linux_x86-64
          mv bin/acorn_integral bin/acorn_integral_linux_x86-64
          mv bin/acorn_mp bin/acorn_mp_linux_x86-64
          mv bin/acorn_nqdyn bin/acorn_nqdyn_linux_x86-64
          mv bin/acorn_transform bin/acorn_transform_linux_x86-64

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux
          path: |
            mv bin/acorn_aqdyn_linux_x86-64
            mv bin/acorn_expression_linux_x86-64
            mv bin/acorn_hf_linux_x86-64
            mv bin/acorn_integral_linux_x86-64
            mv bin/acorn_mp_linux_x86-64
            mv bin/acorn_nqdyn_linux_x86-64
            mv bin/acorn_transform_linux_x86-64

  release:
    runs-on: ubuntu-latest
    needs: [build_linux_x86-64]

    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Remove Redundant Scripts
        run: rm basis/update.sh example/molecule/generate.sh

      - name: Copy x86-64 Linux Binaries to the Root Folder
        run: |
          cp linux/acorn_hf_linux_x86-64 acorn_hf

          cp linux/acorn_aqdyn_linux_x86-64 acorn_aqdyn
          cp linux/acorn_expression_linux_x86-64 acorn_expression
          cp linux/acorn_hf_linux_x86-64 acorn_hf
          cp linux/acorn_integral_linux_x86-64 acorn_integral
          cp linux/acorn_mp_linux_x86-64 acorn_mp
          cp linux/acorn_nqdyn_linux_x86-64 acorn_nqdyn
          cp linux/acorn_transform_linux_x86-64 acorn_transform

      - name: Create x86-64 Linux Packages
        run: |
          tar -czf acorn_linux_x86-64.tar.gz acorn_aqdyn acorn_expression acorn_hf acorn_integral acorn_mp acorn_nqdyn acorn_transform basis example script/plotmat.py LICENSE.md

      - name: Release linux_x86-64 Version of Acorn
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file: acorn_linux_x86-64.tar.gz
          tag: ${{github.ref}}
