name: Release

on:
  push:
    tags:
      - 'v**'

permissions:
  contents: write

env:
  BUILD_TYPE: Release

jobs:
  build_linux_x86-64:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Packages
        run: sudo apt install -y libboost-all-dev libeigen3-dev

      - name: Build Libint
        run: ./script/libint.sh

      - name: Configure Acorn
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build Acorn
        run: |
          export CPLUS_INCLUDE_PATH="$PWD/libint/install/include:$CPLUS_INCLUDE_PATH"
          export LIBRARY_PATH="$PWD/libint/install/lib:$LIBRARY_PATH"
          cmake --build build

      - name: Copy the Integral Library to the Binary Folder
        run: cp $PWD/libint/install/lib/libint2.a bin/libint.a

      - name: Rename the Binaries
        run: |
          mv bin/libacorn.a bin/libacorn_linux_x86-64.a
          mv bin/libint.a bin/libint_linux_x86-64.a
          mv bin/acorn bin/acorn_linux_x86-64

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          path: |
            bin/libacorn_linux_x86-64.a
            bin/libint_linux_x86-64.a
            bin/acorn_linux_x86-64

  release:
    runs-on: ubuntu-latest
    needs: [build_linux_x86-64]

    steps:
      - uses: actions/checkout@v3

      - name: Download Artifacts
        uses: actions/download-artifact@v3

      - name: Create the Library Directory
        run: mkdir library

      - name: Generate the Header Only Library
        run: ./script/headeronly.sh > library/acorn.h

      - name: Copy x86-64 Binaries and Headers to the Root Folder
        run: |
          cp artifact/libacorn_linux_x86-64.a library/libacorn.a
          cp artifact/libint_linux_x86-64.a library/libint.a
          cp artifact/acorn_linux_x86-64 acorn

      - name: Create x86-64 Packages
        run: |
          tar -czf acorn_linux_x86-64.tar.gz acorn basis example library LICENSE.md

      - name: Release linux_x86-64 Version of Acorn
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file: acorn_linux_x86-64.tar.gz
          tag: ${{github.ref}}
