name: Release

on:
  push:
    tags:
      - 'v**'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install System Dependencies
        run: sudo apt update && sudo apt install -y libfftw3-dev libgsl-dev liblapacke-dev libopenblas-dev

      - name: Download Zig Compiler
        run: mkdir compiler && wget -O zig.tar.xz https://ziglang.org/download/0.13.0/zig-linux-x86_64-0.13.0.tar.xz && tar -xvf zig.tar.xz && mv zig-linux*/lib zig-linux*/zig compiler && rm -rf zig*

      - name: Build Acorn
        run: ./compiler/zig build --summary all

      - name: Make the Binary Folder
        run: mkdir bin

      - name: Rename and Move Binaries
        run: |
          cd zig-out && for FOLDER in *linux*; do mv $FOLDER/acorn ../bin/acorn-$FOLDER; done && cd -

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bin
          path: bin

  release:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Release All Versions of Acorn
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file_glob: true
          file: bin/acorn*
          tag: ${{github.ref}}
