name: Release

on:
  push:
    tags:
      - 'v**'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download and Compile Dependencies
        run: ./script/library.sh

      - name: Build Acorn
        run: ./zig-bin/zig build --summary all

      - name: Rename and Move Binaries
        run: |
          cd zig-out && for FOLDER in *linux*; do mv $FOLDER/acorn ../bin/acorn-$FOLDER; done && cd -

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bin
          path: bin

  release:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Release All Versions of Acorn
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file_glob: true
          file: bin/acorn*
          tag: ${{github.ref}}
