name: Release

on:
  push:
    tags:
      - 'v**'

permissions:
  contents: write

env:
  BUILD_TYPE: Release

jobs:
  build_linux_x86-64:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install Packages
        run: sudo apt install -y libboost-dev libeigen3-dev

      - name: Install Python Packages
        run: pip install typing-extensions

      - name: Build Libtorch
        run: ./script/libtorch.sh

      - name: Build Libfftw
        run: ./script/libfftw.sh

      - name: Build Libint
        run: ./script/libint.sh

      - name: Configure Acorn
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build Acorn
        run: cmake --build build --parallel 2

      - name: Rename Binaries
        run: |
          mv bin/acorn_cdyn bin/acorn_cdyn_linux_x86-64
          mv bin/acorn_ci bin/acorn_ci_linux_x86-64
          mv bin/acorn_expression bin/acorn_expression_linux_x86-64
          mv bin/acorn_hf bin/acorn_hf_linux_x86-64
          mv bin/acorn_integral bin/acorn_integral_linux_x86-64
          mv bin/acorn_mp bin/acorn_mp_linux_x86-64
          mv bin/acorn_qdyn bin/acorn_qdyn_linux_x86-64
          mv bin/acorn_transform bin/acorn_transform_linux_x86-64

      - name: Copy the Shared Libraries
        run: cp external/lib/*.so bin/

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux
          path: |
            bin/acorn_cdyn_linux_x86-64
            bin/acorn_ci_linux_x86-64
            bin/acorn_expression_linux_x86-64
            bin/acorn_hf_linux_x86-64
            bin/acorn_integral_linux_x86-64
            bin/acorn_mp_linux_x86-64
            bin/acorn_qdyn_linux_x86-64
            bin/acorn_transform_linux_x86-64
            bin/*.so

  release:
    runs-on: ubuntu-latest
    needs: [build_linux_x86-64]

    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Remove Redundant Scripts
        run: rm basis/update.sh example/molecule/generate.sh

      - name: Copy x86-64 Linux Binaries to the Root Folder
        run: |
          cp linux/acorn_cdyn_linux_x86-64 acorn_cdyn
          cp linux/acorn_ci_linux_x86-64 acorn_ci
          cp linux/acorn_expression_linux_x86-64 acorn_expression
          cp linux/acorn_hf_linux_x86-64 acorn_hf
          cp linux/acorn_integral_linux_x86-64 acorn_integral
          cp linux/acorn_mp_linux_x86-64 acorn_mp
          cp linux/acorn_qdyn_linux_x86-64 acorn_qdyn
          cp linux/acorn_transform_linux_x86-64 acorn_transform
          cp linux/*.so .

      - name: Create x86-64 Linux Packages
        run: |
          tar -czf acorn_linux_x86-64.tar.gz acorn_cdyn acorn_ci acorn_expression acorn_hf acorn_integral acorn_mp acorn_qdyn acorn_transform basis example script/plot.py LICENSE.md *.so

      - name: Release linux_x86-64 Version of Acorn
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file: acorn_linux_x86-64.tar.gz
          tag: ${{github.ref}}
