name: Release

on:
  push:
    tags:
      - 'v**'

permissions:
  contents: write

env:
  BUILD_TYPE: Release

jobs:
  build-libs_linux-shared_x86-64:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install Python Packages
        run: pip install typing-extensions

      - name: Download and Compile Libraries
        run: ./script/general/library.sh SHARED 2

      - name: Remove Redundant Files
        run: rm -rf external/lib/cmake external/lib/pkgconfig external/lib/*.la external/include/*.f03

      - name: Package the Libraries
        run: cd external && tar -czf acorn-libs_linux-shared_x86-64.tar.gz * && cd -

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libs_linux-shared
          path: external/acorn-libs_linux-shared_x86-64.tar.gz

  build-libs_linux-static_x86-64:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install Python Packages
        run: pip install typing-extensions

      - name: Download and Compile Libraries
        run: ./script/general/library.sh STATIC 2

      - name: Remove Redundant Files
        run: rm -rf external/lib/cmake external/lib/pkgconfig external/lib/*.la external/include/*.f03

      - name: Package the Libraries
        run: cd external && tar -czf acorn-libs_linux-static_x86-64.tar.gz * && cd -

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libs_linux-static
          path: external/acorn-libs_linux-static_x86-64.tar.gz

  build-acorn_linux-shared_x86-64:
    runs-on: ubuntu-22.04
    needs: [build-libs_linux-shared_x86-64]

    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Extract the Libraries
        run: mkdir external && mv libs_linux-shared/acorn-libs_linux-shared_x86-64.tar.gz external/ && cd external && tar -xzf acorn-libs_linux-shared_x86-64.tar.gz && cd -

      - name: Configure Acorn
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DGRAPHIC=OFF -DSTATIC=OFF

      - name: Build Acorn
        run: cmake --build build --parallel 2 --verbose

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-shared
          path: bin/acorn

  build-acorn_linux-static_x86-64:
    runs-on: ubuntu-22.04
    needs: [build-libs_linux-static_x86-64]

    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Extract the Libraries
        run: mkdir external && mv libs_linux-static/acorn-libs_linux-static_x86-64.tar.gz external/ && cd external && tar -xzf acorn-libs_linux-static_x86-64.tar.gz && cd -

      - name: Configure Acorn
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DGRAPHIC=OFF -DSTATIC=ON

      - name: Build Acorn
        run: cmake --build build --parallel 2 --verbose

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-static
          path: bin/acorn

  release:
    runs-on: ubuntu-latest
    needs: [build-acorn_linux-shared_x86-64, build-acorn_linux-static_x86-64]

    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Remove Redundant Scripts
        run: rm basis/update.sh example/molecule/generate.sh

      - name: Create x86-64 Linux Shared Packages
        run: cp linux-shared/acorn . && tar -czf acorn_linux-shared_x86-64.tar.gz acorn basis example script/plot LICENSE.md

      - name: Create x86-64 Linux Static Packages
        run: cp linux-static/acorn . && tar -czf acorn_linux-static_x86-64.tar.gz acorn basis example script/plot LICENSE.md

      - name: Release linux-shared_x86-64 Version of Acorn
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file: acorn_linux-shared_x86-64.tar.gz
          tag: ${{github.ref}}

      - name: Release linux-static_x86-64 Version of Acorn
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file: acorn_linux-static_x86-64.tar.gz
          tag: ${{github.ref}}

      - name: Release linux-shared_x86-64 Version of Acorn Libraries
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file: libs_linux-shared/acorn-libs_linux-shared_x86-64.tar.gz
          tag: ${{github.ref}}

      - name: Release linux-static_x86-64 Version of Acorn Libraries
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file: libs_linux-static/acorn-libs_linux-static_x86-64.tar.gz
          tag: ${{github.ref}}
