name: Test

on:
  push:
    branches:
      - 'master'

permissions:
  contents: write

env:
  BUILD_TYPE: Debug

jobs:
  test_linux_x86-64:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install System Packages
        run: sudo apt install -y libboost-dev libeigen3-dev libopenblas-dev

      - name: Install Python Packages
        run: pip install typing-extensions

      - name: Build Libfftw
        run: ./script/libfftw.sh

      - name: Build Libint
        run: ./script/libint.sh

      - name: Build Libtorch
        run: ./script/libtorch.sh

      - name: Download Headers
        run: ./script/libheader.sh

      - name: Configure Acorn
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build Acorn
        run: cmake --build build --parallel 2

      - name: Run Tests
        working-directory: build
        run: ctest --verbose

      - name: Upload Coverage Reports
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{secrets.CODECOV_TOKEN}}
