name: Test

on:
  push:
    branches:
      - 'master'

permissions:
  contents: write

jobs:
  test_linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Locate OpenMP
        run: sudo apt install libomp-dev && find / -name libomp.so

      - name: Download Zig Compiler
        run: mkdir bin && wget -O zig.tar.xz https://ziglang.org/download/0.13.0/zig-linux-x86_64-0.13.0.tar.xz && tar -xvf zig.tar.xz && mv zig-linux*/lib zig-linux*/zig bin && rm -rf zig*

      - name: Download and Compile Dependencies
        run: ./script/library.sh && ln -s /lib/gcc/x86_64-linux-gnu/14/libgfortran.so external/lib/libgfortran.so

      - name: Run Tests
        run: ./bin/zig build --summary all test

      - name: Upload Coverage Reports
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{secrets.CODECOV_TOKEN}}
