name: Test

on:
  push:
    branches:
      - 'master'

permissions:
  contents: write

env:
  BUILD_TYPE: Debug

jobs:
  test_linux_x86-64:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install Necessary Packages
        run: sudo apt install libboost-dev libeigen3-dev libfftw3-dev libnuma-dev libopenblas-dev libwayland-dev libxkbcommon-dev xorg-dev

      - name: Install Python Packages
        run: pip install typing-extensions

      - name: Download Headers
        run: ./script/library/libheader.sh

      - name: Build Libint
        run: ./script/library/libint.sh ON 2

      - name: Build Libtorch
        run: ./script/library/libtorch.sh ON 2

      - name: Configure Acorn
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DSTATIC=OFF

      - name: Build Acorn
        run: cmake --build build --parallel 2 --verbose

      - name: Run Tests
        working-directory: build
        run: ctest --verbose

      - name: Upload Coverage Reports
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{secrets.CODECOV_TOKEN}}
