name: Documentation

on:
  push:
    branches:
      - 'master'

permissions:
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Pandoc and Texlive
        run: sudo apt install -y pandoc texlive

      - name: Install Missing TeX Packages
        run: tlmgr init-usertree && tlmgr --usermode install braket

      - name: Compile Document
        run: ./script/docstopdf.sh

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Build Pages
        uses: actions/jekyll-build-pages@v1
        with:
          destination: ./_site
          source: /docs

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v1

  deploy:
    runs-on: ubuntu-latest
    needs: build

    environment:
      url: 'https://tjira.github.io/acorn'
      name: docs

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
