name: Documentation

on:
  push:
    branches:
      - 'master'

permissions:
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Libgfortran
        run: sudo apt install libgfortran5

      - name: Download and Compile Dependencies
        run: ./script/library.sh

      - name: Install Biber and LaTeX
        run: sudo apt update && sudo apt install -y biber texlive-latex-recommended texlive-latex-extra

      - name: Install Pandoc
        run: wget https://github.com/jgm/pandoc/releases/download/3.4/pandoc-3.4-1-amd64.deb -O pandoc.deb && sudo dpkg -i pandoc.deb

      - name: Download Zig Compiler
        run: mkdir bin && wget -O zig.tar.xz https://ziglang.org/download/0.13.0/zig-linux-x86_64-0.13.0.tar.xz && tar -xvf zig.tar.xz && mv zig-linux*/lib zig-linux*/zig bin && rm -rf zig*

      - name: Compile Document
        run: ./script/docstopdf.sh

      - name: Compile the Code Documentation
        run: ./bin/zig build docs && cp -r zig-out/docs docs/code

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build Pages
        uses: actions/jekyll-build-pages@v1
        with:
          destination: ./_site
          source: /docs

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    runs-on: ubuntu-latest
    needs: build

    environment:
      url: 'https://tjira.github.io/acorn'
      name: docs

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
